<header class="navbar">
  <section class="navbar-section">
    <a href="{% link index.html %}" class="navbar-brand mr-2">Aidan San</a>
    <a href="https://drive.google.com/file/d/1WQQ2j7VaBhDqnPUEUSIZ2uppC6rTIWHs/view?usp=sharing" class="btn btn-link">CV</a>
    <a href="https://github.com/aidansan" class="btn btn-link">GitHub</a>
    <a href="https://scholar.google.com/citations?hl=en&user=atZI-McAAAAJ" class="btn btn-link">Google Scholar</a>
    <a href="{% link blog.html %}" class="btn btn-link">Blog</a>
  </section>
</header>
